<ion-header style="background-color: #FFFFFF;">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-searchbar placeholder="Search" showCancelButton="focus" color="primary"></ion-searchbar>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="new">
      <ion-segment-button value="new">
        <ion-label>New drops</ion-label>
      </ion-segment-button>
      <ion-segment-button value="hot">
        <ion-label>Hot Items</ion-label>
      </ion-segment-button>
      <ion-segment-button value="polo">
        <ion-label>Polo shirts</ion-label>
      </ion-segment-button>
      <ion-segment-button value="perfumes">
        <ion-label>Perfumes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #FFFFFF;">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://images.unsplash.com/photo-1603487742131-4160ec999306?w=500&auto=format&fit=crop&q=60" />
          <ion-card-content>
            <ion-text>
              <h2>Birkenstock sandal</h2>
              <p><strong>IDR799.900</strong></p>
            </ion-text>
            <ion-buttons>
              <ion-button fill="clear"><ion-icon name="heart-outline"></ion-icon></ion-button>
              <ion-button fill="clear"><ion-icon name="bag-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://images.unsplash.com/photo-1681091670841-a1d3d8bb1531?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8SXJyZWd1bGFyJTIwY3VmZiUyMGJyYWNlbGV0fGVufDB8fDB8fHwy" />
          <ion-card-content>
            <ion-text>
              <h2>Irregular cuff bracelet</h2>
              <p><strong>IDR199.900</strong></p>
            </ion-text>
            <ion-buttons>
              <ion-button fill="clear"><ion-icon name="heart-outline"></ion-icon></ion-button>
              <ion-button fill="clear"><ion-icon name="bag-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://images.unsplash.com/photo-1666723043169-22e29545675c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Q2xhc3NpYyUyMGxlYXRoZXIlMjBiZWx0fGVufDB8fDB8fHwy" />
          <ion-card-content>
            <ion-text>
              <h2>Classic leather belt</h2>
              <p><strong>IDR299.900</strong></p>
            </ion-text>
            <ion-buttons>
              <ion-button fill="clear"><ion-icon name="heart-outline"></ion-icon></ion-button>
              <ion-button fill="clear"><ion-icon name="bag-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://images.unsplash.com/photo-1653694053345-b22f94c95bcf?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bWVuJTIwcG9sbyUyMHNoaXJ0fGVufDB8fDB8fHwy" />
          <ion-card-content>
            <ion-text>
              <h2>Men's Polo Shirt</h2>
              <p><strong>IDR399.900</strong></p>
            </ion-text>
            <ion-buttons>
              <ion-button fill="clear"><ion-icon name="heart-outline"></ion-icon></ion-button>
              <ion-button fill="clear"><ion-icon name="bag-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img src="https://media.istockphoto.com/id/180844253/photo/wrist-watch.webp?a=1&b=1&s=612x612&w=0&k=20&c=zQuStPv6hmyWtrEi92cXoBEI6_zSBDpo8KAJAC35Bes=" />
          <ion-card-content>
            <ion-text>
              <h2>Elegant wristwatch</h2>
              <p><strong>IDR1.199.900</strong></p>
            </ion-text>
            <ion-buttons>
              <ion-button fill="clear"><ion-icon name="heart-outline"></ion-icon></ion-button>
              <ion-button fill="clear"><ion-icon name="bag-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="https://images.unsplash.com/photo-1632495112970-30ce8340c2be?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cGVyZnVtZSUyMGNsYXNzaWN8ZW58MHx8MHx8fDI%3D" />
          <ion-card-content>
            <ion-text>
              <h2>Perfume Classic</h2>
              <p><strong>IDR499.900</strong></p>
            </ion-text>
            <ion-buttons>
              <ion-button fill="clear"><ion-icon name="heart-outline"></ion-icon></ion-button>
              <ion-button fill="clear"><ion-icon name="bag-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  <ion-footer style="background-color: white;">
  <ion-tab-bar slot="bottom" style="background-color: white;">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline" style="color: black;"></ion-icon>
      <ion-label style="color: black;">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wishlist" href="/tabs/wishlist">
      <ion-icon name="heart-outline" style="color: black;"></ion-icon>
      <ion-label style="color: black;">Wishlist</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" href="/tabs/cart">
      <ion-icon name="cart-outline" style="color: black;"></ion-icon>
      <ion-label style="color: black;">Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline" style="color: black;"></ion-icon>
      <ion-label style="color: black;">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>


